:root {
    --display-height: 60px
}

* {
    margin: 0;
    padding: 0;
    /* border: 1px solid #000 */
}


h1 {
    margin-top: 36px;
    text-align: center;
}
h4 {
    margin-top: 4px;
    text-align: center;
    font-weight: 500;
}

.display {
    margin: 12px;
    height: var(--display-height);
    line-height: var(--display-height);
    font-size: 24px;
    padding: 4px 56px 4px 4px;
    text-align: end;
    border-radius: 4px;
    background-color: #e5fff6;

}

.calculator {
    margin: 42px auto;
    width: 300px;
    border-radius: 8px;
    background-color: #ffefef;
    border: 1px solid #ffefef;
    padding-bottom: 24px;
    
}

.keyboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
    padding: 4px;
}

.keyboard-row {
    display: flex;
    gap: 4px;
}

.key {
    width: 50px;
    height: 50px;
    font-size: 24px;
    text-align: center;
    line-height: 50px;
    border-radius: 4px;
    /* transition: transform 0.3s ease; */
}

[data-type="operand"] {
    background-color: azure;
}
[data-type="operator"] {
    background-color: #bbbbff;
}
[data-type="clear"] {
    background-color: rgb(249, 157, 157);
}
[data-type="percentage"], [data-type="sign"] {
    background-color: rgb(227, 249, 157);
}
[data-type="decimal"], [data-type="brackets"] {
    background-color: rgb(221, 221, 221);
}

.key:hover {
    cursor: pointer;
}

.key:active {
    transform: scale(1.1);
}


/* MODE 1 STYLE */






/* MODE 2 STYLE */