* {
    margin: 0;
    padding: 0;
    border: 1px solid #000
}

.display {
    height: 100px;
    font-size: 20px;
    padding: 12px;
}

.calculator {
    margin: 42px auto;
    width: 300px;
}

.keyboard {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.keyboard-row {
    display: flex;

}

.key {
    width: 50px;
    height: 50px;
    font-size: 24px;
    text-align: center;
    line-height: 50px;
}